.DS_Store
VERSION
logs/
ota_bin/
dist/shared/
dist/include/
__pycache__/
**/__pycache__/
*.py[cod]
*.so
*.dylib
*.dll
*.zip
c/demo/auto_detect
c/demo/hand_demo
c/demo/hand_dfu
c/demo/hand_trajectory
c/demo/revo3_monitor
c/demo/revo3_motor
c/demo/revo3_touch
c/demo/*.dSYM/
